@model NEWCRM.Models.SourcetypeViewModel
@if(Model.sourceType.Count() > 0) {
    var selected = string.Empty;
    
<label for="sourceType" class="col-sm-3 control-label">Channel</label>
<div class="col-sm-9">
    <select id="casIDLevel3" name="casIDLevel3" class="form-control"  onchange="onSourceTypeChange(this)">
        <option></option>
        @foreach (var item in Model.sourceType)
        {
            selected = string.Empty;
            <option @selected value="@item">@item</option> 
        }
    </select>
    <input type="hidden" id="casLevel3" name="casLevel3" />
</div>
}