@model NEWCRM.Models.ListRepCaseModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.field-date').datepicker({ autoclose: true, todayHighlight: true, format: "dd/mm/yyyy" });

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                var today = dd + '/' + mm + '/' + yyyy;
                $("#startdate").val(today);
                $("#enddate").val(today);
            });

            function loadReport()
            {
                var start = $("#startdate").val();
                var url = '@Url.Action("repSummary", "RepCase")';
                jQuery.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'startdate': start,
                        'enddate': $("#enddate").val(),
                        'catparentid': '0'
                    },
                    success: function (data) {
                        //console.log('Returned data is: ' + data);
                        $("#getQuery").html(data);
                        
                    }
                });

            }


        </script>
    }



<div class="section-body">
    <div class="card">
        <div class="card-head style-primary">
            <header>Report</header>
        </div>
        <div class="card-body" style="padding-bottom: 0;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group no-padding">
                            <h4>Case Type</h4>
                        </div>
                    </div>
                    <!--div class="col-lg-2">
                        <div class="form-group no-padding">
                            <h4>Criteria</h4>
                        </div>
                    </div-->
                    <div class="col-lg-3">
                        <div class="form-group no-padding">
                            <h4>Start Date</h4>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group no-padding">
                            <h4>End Date</h4>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group no-padding">
                            &nbsp;
                        </div>
                    </div>
                </div>

                @using (Ajax.BeginForm("getReport", "RepCase",
                                            new AjaxOptions { UpdateTargetId = "getQuery", HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery" },
                                            new { id = "frm-casequery", @class = "form", autocomplete = "off" }))
                {

                    <div id="filterList"></div>

                        <input type="hidden" id="data-type-<%=index%>" name="data-type-<%=index%>" value="text" />
                        <div class="row">
                            <div class="col-lg-2">
                                </div>
                            <div class="col-lg-3">
                                <!--div class="form-group no-padding">

                                </!--div-->
                                <div id="ctdiv_1" class="form-group no-padding">
                                    <div class="col-sm-9 margin-bottom-xl">
                                        <select name="reptype" class="form-control">
                                            <option></option>
                                            <option value="1">report summary</option>
                                            <option value="0">Nothing</option>
                                            <option value="2">By Himself</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group no-padding">
                                    <div id="value-date-<%=index%>" class="input-group date field-date" >
                                        <div class="input-group-content">
                                            <input type="text" id="startdate" name="startdate" class="form-control fv">
                                        </div>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group no-padding">
                                    <div id="value-date-<%=index%>" class="input-group date field-date">
                                        <div class="input-group-content">
                                            <input type="text" id="enddate" name="enddate" class="form-control fv">
                                        </div>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row" style="margin: 10px">
                        <div class="card-actionbar-row col-lg-12" style="padding-right: 80px">

                            <button type="submit" class="btn ink-reaction btn-primary" onclick="loadReport()"><i class="fa fa-search fa-fw"></i>&nbsp;Search</button>
                        </div>
                    </div>
                }
                <hr class="ruler-xl">
            </div>

                
        </div>
        <br />
        <div id="getQuery" class="col-lg-12"></div>

    </div>
</div>