
<div class="row">
    <div class="form-group">
        <label class="col-sm-3 control-label">วันที่เกิดเหตุ</label>
        <div id="value-date-<%=index%>" class="input-group date field-date margin-bottom-xl bg-warning">
            <div class="input-group-content">
                <input type="text" id="eventDate" name="eventDate" class="form-control fv">
            </div>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        <label id="lblRedDetail" name="lblRedDetail" class="col-sm-3 control-label">หลักฐานประกอบ</label>
        <div class="col-sm-9 margin-bottom-xl bg-warning">
            <textarea id="txtRefDetail" name="txtRefDetail" class="form-control" rows="6"></textarea>
        </div>
        <br />
        <label id="lblDetail" name="lblDetail" class="col-sm-3 control-label">รายละเอียดร้องเรียน </label>
        <div class="col-sm-9 margin-bottom-xl bg-warning">
            <textarea id="txtDetail" name="txtDetail" class="form-control" rows="6"></textarea>
        </div>
        <br />
        <label id="lblAttachFile" name="lblAttachFile" class="col-sm-3 control-label">Attach File</label>
        <div class="col-lg-2">
            <form action="@Url.Action("uploadAvatar", "Contact")" class="dropzone" id="dropzone-avatar" style="min-height: 0; padding: 5px;">
                <div class="dz-message" style="margin: 0">
                    <div class="pull-right">
                        @if (!string.IsNullOrEmpty(@Model.item_profile.usrAvatar))
                        {
                            <img id="avatar" class="img-circle size-3" src="~/Images/users/@Model.item_profile.usrAvatar" alt="" />
                        }
                        else
                        {
                            <img class="img-circle border-white border-xl img-responsive auto-width" src="~/Images/contact_.png" />
                        }
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>