@model NEWCRM.Models.Case

<div class="row">
    <div class="col-sm-12 margin-bottom-xl">
        <label id="lblParentID" name="lblParlblParentID" class="col-sm-3 control-label">Parent Case </label>
        <label id="lblParentID" name="lblParlblParentID" class="col-sm-2 control-label">@Model.casID</label>
        <label id="lblParentDate" name="lblParlblParentDate" class="col-sm-3 control-label">@Model.casCreatedOn</label>
        <label id="lblParentNote" name="lblParentNote" class="col-sm-4 control-label">@Model.casSummary</label>
    </div>
</div>
