@model NEWCRM.Models.CaseViewModelLocalization
<div id="contact-new">
    <div class="col-lg-1">&nbsp;</div>
  @*  <div id="nc1" class="col-lg-10 nc_nct" style="margin-top: 5px;">
        <a id="nc_new" href="#" class="tile-content">          
            <button type="button" class="btn btn-flat" data-toggle="tooltip" data-placement="top" data-original-title="Add 
    >
                <span class="text-xxl"><i class="md md-person-add"></i> New Contact</span>
            </button>         
        </a>
    </div>*@
    <div style="margin-top: 5px;">
        <div class="col-lg-10">
            @using (Ajax.BeginForm("QuickAdd", new { Controller = "Contact" },
            new AjaxOptions { HttpMethod = "post", OnSuccess = "successNewContact" },
            new { id = "frm-newcontact", @class = "form form-validate", novalidate = "novalidate", autocomplete = "off" }))
            {
                <div class="card">
                    <div class="card-head">
                        @*<div class="tools" style="padding-right:34px">
                            <a id="nc_closed" class="btn btn-icon-toggle" style="font-size: 20px" data-toggle="tooltip" data-placement="top" data-original-title="Cancel"><i class="md md-close"></i></a>
                        </div>*@
                        <header>New Contact</header>
                    </div>
                    <div class="card-body">                        
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="firstname" id="firstname" required data-rule-minlength="2">
                                        <label for="Firstname1">Firstname</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastname" id="lastname" required data-rule-minlength="2">
                                        <label for="Lastname1">Lastname</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 pull-left">
                                    <button type="submit" class="btn ink-reaction btn-floating-action btn-lg btn-primary pull-right" title="Save new contact"><i class="md md-person-add"></i></button>
                                </div>
                            </div>                       
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Content/js/core/source/AppVendor.js"></script>